@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*::selection {
    background: #fad400;
}
body {
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0 20%;
}
p {
    margin: 0;
}
h1 {
    margin: 2rem 0 0 0;
}
code {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    background-color: #E8E8E8;
    padding: 1px;
}
strong {
    color: dodgerblue;
}
button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);;
}
.canvas {
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}